@media screen and (max-width: 414px) {
/*For devices smaller than 414 pixels (pxs)*/
	#map, #map-container { 
		max-width: 0px;
	}
	/* Add a limit to the max-width of the map */
	#restaurant-container, #breadcrumb {
		width: 100%; 	
	}
}
@media screen and (min-width: 415px) and (max-width: 750px) {
/*For devices between 415 and 715 pixels*/	
#map, #map-container { 
		max-width: 0px;
	}
	/* Add a limit to the max-width of the map */
	#restaurant-container, #breadcrumb {
		width: 100%; 	
	}
}
